.cart {
  background-color: white;
  border-radius: 10px;
  border: 1px solid black;
  /* display: none; */
  height: auto;
  position: absolute;
  right: 0;
  top: 13vh;
  transform: translateX(101%);
  transition: right 0.5s ease-in;
  /* animation: name duration timing-function delay iteration-count direction fill-mode; */
  /* animation: fade 0.5s infinite; */
  width: 25%;
}

.cart-active {
  /* transform: translateX(-20%); */
  right: 500px;
  /* display: block; */
  /* transition: 0.3s ease-in; */
}

@keyframes fade-in {
  from {
    right: 0;
  }
  to {
    right: 500px;
  }
}
