@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}

.mycontainer {
  width: 90%;
  margin: 0 auto;
}

.accent-container {
  max-width: 1440px;
  margin: 0 auto;
}

/* NAVBAR */
.location {
  font-weight: 600;
  font-size: 17px;
  color: #f31d1d;
}

.all-products {
  font-weight: 600;
  font-size: 14px;
  color: #f31d1d;
}

.guest {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.47);
}

.nav-left {
  gap: 2rem;
}

.bell,
.profile,
.cartIcon,
.arrow-down,
.location-icon {
  /* width: 29.33px; */
  width: 23px;
}

.logo {
  width: 83px;
}

@media screen and (max-width: 575px) {
  .bell,
  .profile,
  .cartIcon {
    width: 29.33px;
  }

  .logo {
    width: 50px;
  }

  .nav-left {
    gap: 1rem;
  }
}
/* END OF NAVBAR */

/* HERO */
.card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 2rem;
  column-gap: 0.8rem;
}

.cards {
  border-radius: 10px;
  /* max-width: 230px;
  max-height: 450px; */
}

.card-img {
  position: relative;
}

.hero {
  height: fit-content;
  /* outline: 1px solid red; */
}

.hero-banner {
  border-radius: 1rem;
}

.jazzy-img {
  height: 100%;
}

.icon-circle {
  align-items: center;
  background-color: whitesmoke;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 40px;
  justify-content: center;
  position: absolute;
  right: 10px;
  top: 5px;
  width: 40px;
}

.cart-btn {
  background-color: #f31d1d;
  border-radius: 5px;
  border: none;
  color: white;
  gap: 10px;
  padding: 7px 0;
  width: 100%;
}

.cart-btn-font {
  font-size: 1rem;
}

/* .food-group {
  width: 10rem;
} */

@media screen and (max-width: 992px) {
  .cart-btn-font {
    font-size: 0.7rem;
  }

  .card-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .card-container {
    grid-template-columns: 1fr;
  }

  .cart-btn-font {
    font-size: 1.3rem;
  }

  .cart-btn {
    gap: 20px;
  }

  .hero-banner {
    height: 194px;
  }
}

.burger-body {
  overflow-x: hidden;
}

.burger-title {
  font-weight: 600;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.86);
  width: 150%;
}

.burger-total {
  font-size: 11px;
  font-weight: 600;
  color: #878787;
}

.burger-price {
  font-size: 17px;
  font-weight: 600;
  color: #000000;
}

.burger-price span {
  margin-left: 5px;
}
/* END OF HERO */

/* FOOTER  */
.footer .support,
.footer .payment {
  font-weight: 700;
}

.footer .support p:first-child,
.footer .payment p:first-child {
  font-size: 25.49px;
}

.footer .support p:nth-child(2),
.footer .payment p:nth-child(2) {
  font-size: 14.49px;
}

.footer .middle .help {
  font-weight: 700;
  font-size: 19.49px;
}

.footer .middle .number {
  font-weight: 700;
  font-size: 13px;
  cursor: pointer;
}

.footer .middle .number:hover {
  color: #bc2634;
}

.footer .bottom .follow-us {
  font-weight: 700;
  font-size: 19.49px;
}

.footer .getApp img {
  max-width: 188px;
  height: 56px;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .footer .bottom .follow-us {
    text-align: center;
  }

  .footer .bottom .socials {
    justify-content: center;
  }

  .footer .middle {
    text-align: center;
  }

  .footer .middle .num {
    margin-left: 16px;
  }

  .footer .getApp {
    flex-direction: column;
    align-items: center;
  }
}

/* END OF FOOTER  */
